/* li{
    list-style-type: circle;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 100px;
    text-align: center;
    color: blue;
}
a:hover{
    color: rgb(153, 0, 255);
} */