/* #firstdiv{
    height: 800px;
}

#firstimg{
    border-radius: 20px;
    margin-left: 15%;
}
#firsttext{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}
#paragraf1{
    width: 500px;
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    margin-left: 34.5%;
}
#seccondtext{
    text-align: center;
}
#form1{
    text-align: center;
    
} */