/* body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading{
    border: 10px solid #c1c1c1;
    border-top: 10px solid rgb(4, 0, 255); 
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: spin 2s linear infinite;
    display: flex;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  } */